<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your purchase at jungle.com</h1>
    <p>
      You have successfully ordered:
    </p>
    <p>
    Your order id is: <%= @user.login %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for your purchase and have a great day!</p>
  </body>
</html>