<h1>Dashboard <span class="glyphicon glyphicon-stats" aria-hidden="true"></span></h1>

<p class="well well-lg"><%= link_to 'Total Products: ',  [:admin, :products] %><%= @product_count %></p>


<p class="well well-lg"><%= link_to 'Total Product Categories: ',  [:admin, :categories] %><%= @category_count %></p>