<h1>About the Jungle <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span></h1>

<p class="well well-lg">
We are your go-to store for the weirdest and wackiest product on the web. 
Have fun perusing and shopping through our store. Pretty self-explanatory...
This iteration of the jungle web app was founded in 2020. Pretty crazy year.
It will be in the history books. I digress, if you haven't got tired of this yet here is some lorem, ipsum for you to read. 
</p>
<p class="well well-lg">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc felis odio, maximus id dolor quis, sodales feugiat ex. Aenean turpis elit, mollis sit amet lacus ut, rutrum feugiat purus. Cras dictum suscipit sem ut tempor. Pellentesque mollis sed justo ac malesuada. Vivamus at arcu erat. Sed non tellus arcu. Maecenas eleifend metus sed tortor tristique lobortis. Cras consectetur lectus eu est varius pharetra. Sed a mi fringilla velit laoreet eleifend non quis nulla.
Suspendisse lobortis tortor in turpis vestibulum lacinia. Mauris ullamcorper lectus augue, faucibus blandit odio malesuada et. Nulla lobortis vestibulum neque ac tempus. Sed aliquam vehicula est, ut aliquet lacus auctor eget. Nulla non ante dictum, volutpat quam sit amet, blandit ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent felis quam, porttitor ut purus sed, tempus pellentesque diam. Aliquam erat volutpat. Morbi in erat purus.
</p>
